.FriendPage {
  padding: 15px;
}

.FriendPage__title {
  composes: Heading1 from 'components/Typography.css';
  margin: 10px 0 25px;
}

.FriendPage__documents {
  composes: Heading2 from 'components/Typography.css';
}

.FriendPage .Badge {
  margin-left: 6px;
}
