.StickyNav {
  background-color: #1e87f0;
  color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 52px;
}

.StickyNav p {
  margin: 0;
}

.Logo {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-decoration: none;
}

.Logo:visited {
  color: #fff;
}

.SlideoverToggle {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 26px;
}
